<%-contentFor('body')%>

<div class="container">
    <%-include('../includes/error.ejs', {errors})%>
    <%-include('../includes/success.ejs', {success})%>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <p class="card-title">صفحه ثبت نام</p>
                </div>
                <div class="card-body" style="text-align: right; direction: rtl;">
                    <form action="/auth/register" method="POST">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label>نام</label>
                                    <input type="text" class="form-control" name="firstName" placeholder="نام خود را وارد کنید">
                                </div>
                                <div class="col-6">
                                    <label>نام خانوادگی</label>
                                    <input type="text" class="form-control"  name="lastName" placeholder="نام خانوادگی خود را وارد کنید">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label>ایمیل</label>
                                    <input type="text" class="form-control"  name="email" placeholder="ایمیل خود را وارد کنید">
                                </div>
                                <div class="col-6">
                                    <label>شماره تلفن</label>
                                    <input type="text"  class="form-control" name="phoneNumber" placeholder="شماره تلفن خود را وارد کنید"> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <label>رمز عبور</label>
                                    <input type="password"  class="form-control" name="password" placeholder="رمز عبور خود را وارد کنید">
                                </div>
                                <div class="col-6">
                                    <%- recaptcha %>            
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <a href="/auth/google" class="btn btn-danger">ورود با اکانت گوگل</a>
                                    <button type="submit" class="btn btn-success mr-2">ثبت نام</button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="row  d-flex justify-content-center">
                                <div class="col-6 d-flex justify-content-center">
                                    <span class="ml-2">قبلا ثبت نام کرده اید؟</span>
                                    <a href="/auth/login">وارد شوید</a>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
